                                                             
@{
    ViewData["Title"] = "Acerca";
}

<h1>Acerca de</h1>

<div class="container mt-4">
    <h1>Créditos de la Aplicación</h1>
    <hr />

    <div class="mb-4">
        <h2>Información de la Aplicación</h2>
        <p><strong>Nombre de la Aplicación:</strong> BattleFight</p>
        <p><strong>Versión:</strong> 1.0.0</p>
        <p><strong>Descripción:</strong> Un sistema que ayuda a controlar los torneos que se van a jugar, los equipos y sus coordinadores.</p>
    </div>

    <div class="mb-4">
        <h2>Desarrolladores</h2>
        <ul>
            <li><strong>Nombre:</strong> Kendra Chavarría Porras</li>
            <li><strong>Nombre:</strong> José Pablo Amador Jiménez</li>
            <li><strong>Nombre:</strong> Lina Mayeli Ruiz Castillo</li>
        </ul>
    </div>

    <div class="mb-4">
        <h2>Datos Académicos</h2>
        <p><strong>Universidad:</strong> Universidad Latina de Costa Rica</p>
        <p><strong>Curso:</strong> Programación IV</p>
        <p><strong>Profesora:</strong> Ing. Adriana Stephanie Rubio Escobar</p>
    </div>

    <footer class="text-muted mt-4">
        <p>&copy; 2024 BattleFight. Todos los derechos reservados.</p>
    </footer>
</div>