html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-image: url('wwwroot/css/descarga.jpeg');
}

#menu {
    background-color: #673e86 !important; /* El color de fondo que desees */
}

/* Cambiar el color solo para el enlace BattleFight */
.battlefight-link {
    color: #9e7fd3 !important; /* El color que desees */
}

    /* Asegurar que el color no cambie al pasar el mouse sobre el enlace */
    .battlefight-link:hover {
        color: #9e7fd3 !important;
        text-decoration: none; /* Evita subrayar el enlace al pasar el mouse */
    }
/* Botón de Salir */
.button-salir {
    display: flex;
    height: 3em;
    width: 120px; /* Aumento el tamaño para mejor alineación */
    align-items: center;
    justify-content: center;
    background-color: #eeeeee4b;
    border-radius: 3px;
    letter-spacing: 1px;
    transition: all 0.2s linear;
    cursor: pointer;
    border: none;
    background: #fff;
    position: relative; /* Asegura que el contenedor se posicione correctamente */
}

    /* Ajuste en el tamaño y posición del ícono */
    .button-salir > svg {
        margin-right: 8px; /* Mejor separación entre el ícono y el texto */
        font-size: 20px;
        transition: all 0.4s ease-in;
    }

    .button-salir:hover > svg {
        font-size: 1.2em;
        transform: translateX(-5px);
    }

    .button-salir:hover {
        box-shadow: 9px 9px 33px #d1d1d1, -9px -9px 33px #ffffff;
        transform: translateY(-2px);
    }

    .button-salir span {
        font-size: 16px; /* Ajusto el tamaño del texto */
        font-weight: bold;
    }

/* Botones de Usuario, Equipo, Torneo */
button,
.button {
    font-size: 18px;
    color: #222;
    font-family: inherit;
    font-weight: 800;
    cursor: pointer;
    position: relative;
    border: none;
    background: none;
    text-transform: uppercase;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: color;
}

    button:focus,
    .button:focus,
    button:hover,
    .button:hover {
        color: #222;
    }

        button:focus:after,
        .button:focus:after,
        button:hover:after,
        .button:hover:after {
            width: 100%;
            left: 0%;
        }

    button:after,
    .button:after {
        content: "";
        pointer-events: none;
        bottom: -2px;
        left: 50%;
        position: absolute;
        width: 0%;
        height: 2px;
        background-color: #da627d;
        transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
        transition-duration: 400ms;
        transition-property: width, left;
    }
